<div class="row">
  <div class="large-1 medium-2 small-3 columns">
    <p class="message_sender"><span>Sent by: <%= message.sender.name %></span></p>
  </div>
  <div class="large-11 medium-10 small-9 columns">
    <p class="message_content"><span><%=message.content %></span></p>
  </div>
</div>
