<div class="row">
	<div class="large-12 columns text-center">
		<%= link_to "Login Here", login_path %>
		<%= link_to "Signup", new_user_path %>
	</div>
</div>

<h4>Please Signup or Login</h4>
<div class="spacer"></div>
<div class="spacer"></div>