<div class="large-12 large-centered columns">
  <div class="index-box">  	
  	<div class="row">
  		<div class="large-6 large-offset-3 medium-8 medium-offset-2 columns">
  		  <%= link_to "Login Here", login_path, :class => "button left" %>
  		  <%= link_to "Signup", new_user_path, :class => "button right" %>
  		</div>
   	</div>
  </div>
</div>

<!-- I need to figure out how to make those 2 buttons the same width -->