<div class="large-12 large-centered columns">
	<div class="login-box">
		<div class="row">
			<%= form_for :session, url: '/login', html: {id: "login"} do |f| %>

			<%= f.text_field :email, placeholder: "Email" %>
			<div class="spacer"></div>

			<%= f.password_field :password, placeholder: "Password" %>
			<div class="spacer"></div>
			<%= f.submit "Login" %>
			<% end %>

		</div>
	</div>
</div>

