<h4>Profile page</h4>
<h4>This is the <%= @user.name %> profile page</h4>
<p>User Rating</p>
<p><%= @average_rating %></p>

<p>Your activities:</p>
<% @activities.each do |activity| %>
  <%= activity.name %>
<% end %>