/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


*:not(body):not(hmtl) {
	box-sizing: border-box;
}

body {
  background: #F0F0F3;
}
.activities-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 25px;
  padding: 20px;
  height: 175px
}

.spacer {
	height: 15px;
}

.activity_container img {
  width: 200px;
  height: 200px;
}

/* below is for message box */

.user_rating {
  font-size: .75em;
}

.message_content {
  font-size: .90em;
}

.message_sender {
  font-size: .4em;
  color: #C0C0C0;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.activity-tags {
  margin: 0 auto;
  display: inline-block;
}

#potential_match_avatar {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0px auto;
}

.button-bar-index {
  width: 100%;
}

.button-container-index{
  margin: 0px auto;
  text-align: center;
}


#activity-tag-list li{
  display: inline;
  padding: 15px;
}

#activity-tag-list {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ratings-box {
  background: #fff;
  border: 1px solid #ddd;
  margin: 25px;
  padding: 20px;
  height: 150px
}

.profile-box-show {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #FFFFFF;
    color: #333333;
}

.index-box{
  border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #FFFFFF;
    color: #333333;
}

.ui-dialog-buttonset{
background-color: white;
text-align: center;
opacity: .8;
filter: alpha(opacity=40);
margin-top: 20px;
height: 100px;

}