<div id='message'><%= flash[:message] %></div>

<h1> You have no more potential matches left </h1>


        <div id="error-confirm">
          <p><span class="ui-icon ui-icon-alert"></span></p>
        </div>