<div id='message'><%= flash[:message] %></div>

<h1> You have no more potential matches left </h1>
  <script >
        if ($("#message").text() == "You've been matched!"){
             alert("You have a match!!!" + );
             $("#message").hide();
            }
  </script>

  if (window.confirm('You been matched!'))
{
window.location.href='https://www.google.com/chrome/browser/index.html';
};