<div class="row">
	<div class="large-12 columns">
	  <div class="spacer"></div>
	  <div class="spacer"></div>
	</div>
</div>


<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>


<div class="row">
	<div class="large-8 large-offset-2 medium-8 medium-offset-2 small-12 columns">
		<div class="no-more-matches">
		  <h3>You are out of potential matches</h3>
		  <div class="spacer"></div>
		  <h5>Add more activities or check back later to get more matches</h5>
		</div>
	</div>
</div>